In [10]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, accuracy_score, confusion_matrix
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# Load the dataset
file_path = 'Latihan_modul4.csv'
df = pd.read_csv(file_path)

# Show the first few rows of the dataset
df.head()

,State,Region,iPhone Sales (in million units),iPad Sales (in million units),Mac Sales (in million units),Wearables (in million units),Services Revenue (in billion $)
0,Chongqing,Greater China,7.46,6.75,1.19,5.88,15.88
1,Germany,Europe,8.63,14.06,7.03,7.42,10.12
2,UK,Europe,5.61,14.09,8.78,8.19,19.85
3,Shanghai,Greater China,7.82,7.97,9.78,2.28,6.16
4,Thailand,Rest of Asia,16.70,8.13,6.46,3.48,13.29

In [3]:
# 1. Hapus kolom 'State'
df = df.drop(columns=['State'])

In [13]:
df.duplicated().sum()

np.int64(0)

In [4]:
# 2. Konversi 'Region' menjadi label numerik
label_encoder = LabelEncoder()
df['Region'] = label_encoder.fit_transform(df['Region'])

In [5]:
# 3. Pisahkan fitur dan target
X = df.drop(columns=['Region'])
y = df['Region']

In [6]:
# 4. Lakukan scaling pada fitur numerik
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [7]:
# 5. Bagi data menjadi data latih dan data uji
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.3, random_state=42)

In [8]:
# 6. Latih model menggunakan Random Forest Classifier
rf_classifier = RandomForestClassifier(random_state=42)
rf_classifier.fit(X_train, y_train)

# 7. Prediksi pada data uji
y_pred = rf_classifier.predict(X_test)

# 8. Evaluasi model
accuracy = accuracy_score(y_test, y_pred)
class_report = classification_report(y_test, y_pred)

accuracy, class_report

(0.25,
 '              precision    recall  f1-score   support\n\n           0       0.31      0.33      0.32        61\n           1       0.26      0.29      0.27        65\n           2       0.20      0.16      0.17        51\n           3       0.15      0.11      0.13        55\n           4       0.27      0.32      0.30        68\n\n    accuracy                           0.25       300\n   macro avg       0.24      0.24      0.24       300\nweighted avg       0.24      0.25      0.24       300\n')

In [9]:
# Generate confusion matrix
conf_matrix = confusion_matrix(y_test, y_pred)

# Create a heatmap for the confusion matrix
plt.figure(figsize=(8, 6))
sns.heatmap(conf_matrix, annot=True, fmt='d', cmap='Blues', xticklabels=label_encoder.classes_, yticklabels=label_encoder.classes_)
plt.title('Confusion Matrix')
plt.xlabel('Predicted Labels')
plt.ylabel('True Labels')
plt.show()

accuracy, class_report

NameError: name 'confusion_matrix' is not defined